@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Material Symbols Base Setup */
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  }
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0f172a; 
}

::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569; 
}
